@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item"><strong>
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a></strong>

    </li>
    <li class="nav-item">
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        
        <button type="submit" class="nav-link btn btn-link text-light"><strong>Logout</strong> </button>

</form>
    </li>
}
else
{
    <li class="nav-item"><strong>
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a></strong>
    </li>
    <li class="nav-item"><strong>
    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a></strong>
</li>
}
</ul>

