@page
@model CapstoneSalesCRM.Pages.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.CompanyID" />
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Company.IndustryID" class="control-label"></label>
                <select asp-for="Company.IndustryID" class="form-control" asp-items="ViewBag.IndustryID"></select>
                <span asp-validation-for="Company.IndustryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Website" class="control-label"></label>
                <input asp-for="Company.Website" class="form-control" />
                <span asp-validation-for="Company.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.LinkedIn" class="control-label"></label>
                <input asp-for="Company.LinkedIn" class="form-control" />
                <span asp-validation-for="Company.LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Facebook" class="control-label"></label>
                <input asp-for="Company.Facebook" class="form-control" />
                <span asp-validation-for="Company.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
