@page
@model CapstoneSalesCRM.Pages.Activities.CreateModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
    DateTime todaysDate = DateTime.Today;
}
<head>
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <style>
        tr:nth-last-child(even) {
            background-color: #EFF8FF;
        }

        hr {
            clear: both;
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="row" style="display: flex">
        <div class="col-auto" style="float:left">
            <h1 class="text-primary m-0 fw-bold">Create An Activity</h1>
        </div>
    </div>
    <hr /><form method="post">
              <div class="row">
                  <div class="col">
                      <div class="card shadow mb-3">
                          <div class="card-header py-3">
                              <p class="text-primary m-0 fw-bold">Activity Information</p>
                          </div>
                          <div class="card-body">

                              <input type="hidden" asp-for="Activity.DateCreated" value="@todaysDate" />
                              <input type="hidden" asp-for="Activity.CreatedBy" value="@User.Identity.Name" />

                              @if (ViewBag.ContactID == null)
                              {
                                  <div class="row">
                                      <div class="col-5">
                                          <label asp-for="Activity.ContactID" class="control-label">Contact Last Name</label>
                                          <select asp-for="Activity.ContactID" class="form-control" asp-items="ViewBag.ContactIDSL"></select>
                                      </div>
                                  </div>
                              }

                              else
                              {
                                  <input type="hidden" asp-for="Activity.ContactID" value="@ViewBag.ContactID" />
                              }

                              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                              <div class="row">
                                  <div class="col">
                                      <label asp-for="Activity.ActivityTask.TaskDescription" class="control-label">Task Description</label>
                                      <select asp-for="Activity.ActivityTask.TaskDescription" class="form-control" asp-items="ViewBag.TaskDescription"></select>
                                  </div>

                                  <div class="col">
                                      <label asp-for="Activity.DateScheduled" class="control-label"></label>
                                      <input asp-for="Activity.DateScheduled" class="form-control" />
                                      <span asp-validation-for="Activity.DateScheduled" class="text-danger"></span>
                                  </div>
                                  <div class="col">
                                      <label asp-for="Activity.WhoToNotify" class="control-label"></label>
                                      <input asp-for="Activity.WhoToNotify" class="form-control" />
                                      <span asp-validation-for="Activity.WhoToNotify" class="text-danger"></span>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col">
                                      <label asp-for="Activity.HowToNotify" class="control-label"></label>
                                      <input asp-for="Activity.HowToNotify" class="form-control" />
                                      <span asp-validation-for="Activity.HowToNotify" class="text-danger"></span>
                                  </div>
                                  <div class="col">
                                      <label asp-for="Activity.Notes" class="control-label"></label>
                                      <input asp-for="Activity.Notes" class="form-control" />
                                      <span asp-validation-for="Activity.Notes" class="text-danger"></span>
                                  </div>
                                  <div class="col">
                                      <label asp-for="Activity.Status" class="control-label"></label>
                                      <select asp-for="Activity.Status" class="form-control" asp-items="Html.GetEnumSelectList<CapstoneSalesCRM.Models.ActivityStatus>()"></select>
                                  </div>
                                  <hr />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            <div class="row">
                <div>
                    <input type="submit" value="&#xf067 Create" class="btn btn-primary" />
                    <a class="btn btn-primary" asp-page="Index"><i class="fas fa-undo"></i>&nbsp;Back to List</a>
                </div>
                </div>
            
    </form>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
