@page
@model CapstoneSalesCRM.Pages.Activities.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Activity.ActivityID" />
            <div class="form-group">
                <label asp-for="Activity.ActivityTaskID" class="control-label"></label>
                <select asp-for="Activity.ActivityTaskID" class="form-control" asp-items="ViewBag.ActivityTaskID"></select>
                <span asp-validation-for="Activity.ActivityTaskID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.ContactID" class="control-label"></label>
                <select asp-for="Activity.ContactID" class="form-control" asp-items="ViewBag.ContactID"></select>
                <span asp-validation-for="Activity.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.DateScheduled" class="control-label"></label>
                <input asp-for="Activity.DateScheduled" class="form-control" />
                <span asp-validation-for="Activity.DateScheduled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.WhoToNotify" class="control-label"></label>
                <input asp-for="Activity.WhoToNotify" class="form-control" />
                <span asp-validation-for="Activity.WhoToNotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.HowToNotify" class="control-label"></label>
                <input asp-for="Activity.HowToNotify" class="form-control" />
                <span asp-validation-for="Activity.HowToNotify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Notes" class="control-label"></label>
                <input asp-for="Activity.Notes" class="form-control" />
                <span asp-validation-for="Activity.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Status" class="control-label"></label>
                <input asp-for="Activity.Status" class="form-control" />
                <span asp-validation-for="Activity.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.DateCompleted" class="control-label"></label>
                <input asp-for="Activity.DateCompleted" class="form-control" />
                <span asp-validation-for="Activity.DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
