@page
@model CapstoneSalesCRM.Pages.Industries.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <style>
        tr:nth-last-child(even) {
            background-color: #EFF8FF;
        }

        hr {
            clear: both;
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="row" style="display: flex">
        <div class="col-auto" style="float:left">
            <h1 class="text-primary m-0 fw-bold">Create An Industry</h1>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold"></p>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Industry.Description" class="control-label"></label>
                            <input asp-for="Industry.Description" class="form-control" />
                            <span asp-validation-for="Industry.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div>
                <input type="submit" value="&#xf067 Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="Index"><i class="fas fa-undo"></i>&nbsp;Back to List</a>
            </div>
        </div>

    </form>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
