@page
@model CapstoneSalesCRM.Pages.Locations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Location.CompanyID" class="control-label"></label>
                <select asp-for="Location.CompanyID" class="form-control" asp-items="ViewBag.CompanyID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationName" class="control-label"></label>
                <input asp-for="Location.LocationName" class="form-control" />
                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationAddress1" class="control-label"></label>
                <input asp-for="Location.LocationAddress1" class="form-control" />
                <span asp-validation-for="Location.LocationAddress1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationAddress2" class="control-label"></label>
                <input asp-for="Location.LocationAddress2" class="form-control" />
                <span asp-validation-for="Location.LocationAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationCity" class="control-label"></label>
                <input asp-for="Location.LocationCity" class="form-control" />
                <span asp-validation-for="Location.LocationCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.StateID" class="control-label"></label>
                <select asp-for="Location.StateID" class="form-control" asp-items="ViewBag.StateID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Location.Country" class="control-label"></label>
                <input asp-for="Location.Country" class="form-control" />
                <span asp-validation-for="Location.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.MainPhone" class="control-label"></label>
                <input asp-for="Location.MainPhone" class="form-control" />
                <span asp-validation-for="Location.MainPhone" class="text-danger"></span>
            </div>
            <br />
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
