@page
@model CapstoneSalesCRM.Pages.Locations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<head>
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <style>
        tr:nth-last-child(even) {
            background-color: #EFF8FF;
        }

        hr {
            clear: both;
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="row" style="display: flex">
        <div class="col-auto" style="float:left">
            <h1 class="text-primary m-0 fw-bold">Edit Location</h1>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold"></p>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Location.LocationID" />
                        <div class="row">
                            <div class="col">
                                <label asp-for="Location.Company.CompanyName" class="control-label"></label>
                                <select asp-for="Location.Company.CompanyName" class="form-control" asp-items="ViewBag.CompanyName"></select>
                                <span asp-validation-for="Location.Company.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Location.LocationName" class="control-label"></label>
                                <input asp-for="Location.LocationName" class="form-control" />
                                <span asp-validation-for="Location.LocationName" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Location.LocationAddress1" class="control-label"></label>
                                <input asp-for="Location.LocationAddress1" class="form-control" />
                                <span asp-validation-for="Location.LocationAddress1" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Location.LocationAddress2" class="control-label"></label>
                                <input asp-for="Location.LocationAddress2" class="form-control" />
                                <span asp-validation-for="Location.LocationAddress2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label asp-for="Location.LocationCity" class="control-label"></label>
                                <input asp-for="Location.LocationCity" class="form-control" />
                                <span asp-validation-for="Location.LocationCity" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Location.StateID" class="control-label"></label>
                                <select asp-for="Location.StateID" class="form-control" asp-items="ViewBag.StateID"></select>
                                <span asp-validation-for="Location.StateID" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Location.Country" class="control-label"></label>
                                <input asp-for="Location.Country" class="form-control" />
                                <span asp-validation-for="Location.Country" class="text-danger"></span>
                            </div>
                            <div class="col">
                                <label asp-for="Location.MainPhone" class="control-label"></label>
                                <input asp-for="Location.MainPhone" class="form-control" />
                                <span asp-validation-for="Location.MainPhone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <input type="submit" value="&#xf0c7 Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-page="Index"><i class="fas fa-undo"></i>&nbsp;Back to List</a>
                    <a class="btn btn-primary" asp-page="/Index">Return to Home</a>
            </div>
        </div>
    </form>

</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
