@page
@model CapstoneSalesCRM.Pages.AboutModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to Capstone!</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h1>Welcome to Capstone!</h1>
                    <p class="text-primary m-0 fw-bold">Our program provides an easy-to-use system for managing contacts, companies and activities.</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <iframe width="560" height="560" src="https://www.youtube.com/embed/toyhg2QIaBA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

