@page
@model CapstoneSalesCRM.Pages.OtherPagesModel
@{
}

<head>
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="https://kit.fontawesome.com/cb166f3e9b.js" crossorigin="anonymous"></script>
    <style>
        tr:nth-last-child(even) {
            background-color: #EFF8FF;
        }
        hr {
            clear: both;
            visibility: hidden;
        }
        dl{
            text-align:center;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        @*<h3 class="text-dark mb-4">Contacts</h3>*@
        <div class="card shadow">
            <div class="card-header py-3">
                <h1 class="text-primary m-0 fw-bold">Administrative Tables</h1>
            </div>
            <div class="card-body">
                <hr />
                <div class="row">
                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Activities/Index" style="text-decoration:none"><i class="fas fa-chart-line fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Activities/Index" style="text-decoration:none">Activities</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Admin/ActivityTasks/Index" style="text-decoration:none"><i class="fas fa-tasks fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Admin/ActivityTasks/Index" style="text-decoration:none">Tasks</a></dd>
                        </dl>
                            </div>
                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Admin/Industries/Index" style="text-decoration:none"><i class="fas fa-industry fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Admin/Industries/Index" style="text-decoration:none">Industries</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Admin/Locations/Index" style="text-decoration:none"><i class="far fa-compass fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Admin/Locations/Index" style="text-decoration:none">Locations</a></dd>
                        </dl>
                    </div>

                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Admin/Roles/Index" style="text-decoration:none"><i class="fas fa-user-friends fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Admin/Roles/Index" style="text-decoration:none">Roles</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Admin/Sources/Index" style="text-decoration:none"><i class="fas fa-tv fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Admin/Sources/Index" style="text-decoration:none">Sources</a></dd>
                        </dl>
                    </div>
                    <div class="col">
                        <dl>
                            <dt><a class="text-body" asp-area="" asp-page="/Admin/States/Index" style="text-decoration:none"><i class="fas fa-globe-americas fa-3x"></i></a></dt>
                            <dd><a class="text-body" asp-area="" asp-page="/Admin/States/Index" style="text-decoration:none">States</a></dd>
                        </dl>
                    </div>


                </div>

            </div>
        </div>   
        <p>
            <a class="btn btn-primary" asp-page="/Index">Return to Home</a>
        </p>
    </div> 
    
 
</body>
