@page
@model CapstoneSalesCRM.Pages.OtherPagesModel
@{
}

<a class="text-dark" asp-area="" asp-page="/Activities/Index">Activities</a>
<a class="text-dark" asp-area="" asp-page="/Admin/ActivityTasks/Index">Tasks</a>
<a class="text-dark" asp-area="" asp-page="/Admin/Industries/Index">Industries</a>
<a class="text-dark" asp-area="" asp-page="/Admin/Locations/Index">Locations</a>
<a class="text-dark" asp-area="" asp-page="/Admin/Roles/Index">Roles</a>
<a class="text-dark" asp-area="" asp-page="/Admin/Sources/Index">Sources</a>
<a class="text-dark" asp-area="" asp-page="/Admin/States/Index">States</a>



